@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html,body{
    font-family: 'Oswald', sans-serif;;
}

.background{
    background-image: url(/Project1-Life-Timer/img/img2.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

.container{
    display: grid;
    place-items: center;
    /* height: 100vh; */ 
}

.container h1{
    margin-top: 5rem;
    font-size: 4rem;
}


.setting{
    position: absolute;
    bottom: 40px;
    right: 30px;
    display: flex;
    align-items: center;
    gap:1rem;
}

.setting .fa-cog{
    font-size: 3rem;
    color: #fff;
}

.setting-content{
    display: flex;
    gap: 1rem;
}

.setting-content input{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.setting-content button{
    padding: 0.5rem 1rem;
    background-color: rgb(99, 154, 37);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
}

.hide{
    display:none ;
}



.time-container{
    margin-top: 1rem;
    display: flex;
    gap:2rem;
    justify-content: center;
    align-items: center;
}

.time-container h2{
    line-height: 60px;
    text-align: center;
    font-size: 2rem;
}


.time-container div{
    font-size: 4rem;
    color: rgb(238, 124, 124);
}

















































